.BioCollectionpopover {
    position: absolute;
    left: unset;
    right: calc(100% + 10px);
    transform: translate(0, -50%);
    display: box;
    padding: 2px;
    background: lightgray;
    border-radius: 5px;
  }
  