.Coipopover {
    position: absolute;
    top: calc(0% - 10px);
    left: calc(100% + 10px);
    transform: translate(0, -100%);
    display: box;
    padding: 2px;
    background: lightgray;
    border-radius: 5px;
  }
  